h1= title

script(src='/javascripts/demo_script.js', type="text/javascript")

script(type='text/javascript')
  alert('inlineわふー（ ＞ω＜）')
p
  button(onclick='javascript:alert("onclickわふー")') わふー

p
  img(src='http://key.visualarts.gr.jp/kudo/banner/kwf_banner2nd_9.jpg')
